<footer class="site-footer">

  

  <div class="page-container">
    <div class="separator"></div>

    <div class="footer-logo">
  <img src="resources/logo-footer.png" alt="Netflics" class="logo-image footer-logo-image" />
</div>

    <nav class="footer-links">
      <a href="#">Política de privacidad</a>
      <a href="/planes">Acuerdo de suscripción</a>
      <a href="/ayuda">Ayuda</a>
      <a href="#">Dispositivos compatible</a>
      <a href="#">Acerca de nosotros</a>
      <a href="#">Publicidad personalizada</a>
    </nav>

    <p class="footer-text">
      Netflics es un servicio por suscripción de pago, su contenido está sujeto a disponibilidad.
      El servicio plus+ es comercializado por Netflics LATAM, Inc.
    </p>

    <p class="footer-copyright">© Netflics. Todos los derechos reservados.</p>

    <div class="separator"></div>
  </div>
</footer>